<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition>
        <p:outputLabel value="Pays:" />
        <p:selectOneMenu value="#{QuartierManagedBean.pays}" filter="true"
                         converter="omnifaces.SelectItemsConverter">
            
            <f:selectItem itemValue="" itemLabel=""/>
            <f:selectItems value="#{paysManagedBean.listePays}" 
                           var="p" itemValue="#{p}" itemLabel="#{p.libellePays}" />
            
            
            <p:ajax event="change" listener="#{QuartierManagedBean.findVilleByPays()}" process="@this" update="@(.elliv, .tierq)" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Ville:" />
        <p:outputPanel styleClass="elliv">
            <p:selectOneMenu value="#{QuartierManagedBean.ville}" filter="true"
                             converter="omnifaces.SelectItemsConverter">
            <f:selectItem itemValue="" itemLabel=""/>
            <f:selectItems value="#{QuartierManagedBean.getlVilles()}"
                           var="v" itemValue="#{v}" itemLabel="#{v.libelleVille}" />
            
            <p:ajax event="change" listener="#{QuartierManagedBean.findQuartierByVille()}" process="@this" update="@(.tierq)" />
        </p:selectOneMenu>
        </p:outputPanel>
        
        <p:outputLabel value="Quartier:" for="tierq" />
        <p:outputPanel styleClass="tierq">
            <p:selectOneMenu value="#{value}" id="tierq" required="#{required}" filter="true"
                         converter="omnifaces.SelectItemsConverter">
            <f:selectItem itemValue="" itemLabel=""/>
            <f:selectItems value="#{QuartierManagedBean.getlQuartiers()}" 
                           var="q" itemValue="#{q}" itemLabel="#{q.libelleZonegeographique}" />
        
        </p:selectOneMenu>
        </p:outputPanel>
        
    </ui:composition>
</html>
