

.margin10 {
  margin: 10px;
}
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
/*marges*/
.noPadding {
  padding: 0px !important;
}
.noMargin {
  margin: 0px !important;
}
.pad10p {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.pad15 {
  padding: 15px;
}
.padBot20p {
  padding-bottom: 20px;
}
.padTop20p {
  padding-top: 20px;
}
.btSupprZone {
  position: relative;
  top: -48px;
  color: red;
}
.color-red {
  color: red;
}
.underline {
  border-bottom: 1px solid #DDD;
  margin: 0 0 10px 0 !important;
}

/*fin fonctions*/
#hoe-header *,
#hoe-header *,
#main-content {
  transition: all 0.2s ease-in-out;
}

.nicescroll-rails,
.nicescroll-rails div {
  width: 10px !important;
}
.nicescroll-rails div {
  cursor: pointer;
  border: none !important;
}


.zone-date {
  font-size: 18px;
  color: #555;
}
.trait {
  height: 30px;
  border-left: 2px solid #CCC;
}
.hoe-minimized-lpanel .logo-appli {
  width: 30px;
  height: 30px;
  left: -10px;
  position: relative;
}
.zone-recherche {
  width: 200px;
  /*height: 40px;*/
  background: #FFF none repeat scroll 0% 0%;
  border-radius: 5px;
  margin-top: 15px;
  color: #000;
  border-color: #E0E0E2;
  box-shadow: 0px 2px 4px rgba(207, 207, 209, 0.65) inset;
  padding: 5px !important;
}
.txt-recherche {
  border: medium none;
  padding-left: 5px;
  color: #000;
  width: 150px;
 
}
ul.nav li.active,
li.activeMenu {
  border-left: 4px solid #7FC351;
}
.zone-info {
  background-image: url("../img/fond-en-cloud.png");
  background-repeat: repeat-x;
  position: relative;
  left: 10px;
  padding-right: 20px;
}
.zone-info-box-blue {
  background-color: rgba(106, 145, 186, 0.8);
}
.zone-info-box {
  height: 79px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  float:right;
}
.zone-info-box-orange {
  background-color: rgba(237, 118, 36, 0.8);
}
.zone-info-box-vert {
  background-color: rgba(128, 196, 84, 0.8);
}
.group-info a {
  color: #FFF;
}
.titre-zone-info {
  color: #FFF;
  font-weight: bold;
  /*height: 30px;*/
}
.group-info {
  height: 79px;
  width: 25%;
  padding: 10px 10px 10px 10px !important;
  margin-left: 955px;
}
.corps-zone-info {
  color: #fff;
  /*font-size: 20px;*/
  /*height: 47px;*/
  font-weight: 100;
  margin: 0;
}
.profile-box {
  height: 79px;
}
/*fil d'ariane*/
.fondFilAriane {
  background: #EBECF0;
  min-height: 41.1px;
}
#breadcrumb {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  margin: 1px 0px -4px 1px;
}
#breadcrumb * {
  transition: none;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 41.5px;
  line-height: 41.5px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li a:before,
#breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 21px 12px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -21.5px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
#breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}
.workspace {
  position: relative;
}
.workspace .contentCenter {
  position: relative;
}
.workspace .contentCenter .copyRight {
  /*.absolute;*/
  bottom: 0px;
}
.inner-content {
  border-top: 1px solid #CCC;
  border-bottom: medium none;
  background: #F1F1F3 none repeat scroll 0% 0%;
  min-height: 628px;
}
.zone-tab-hauteur {
  min-height: 265px;
  margin: 0px 0px 20px !important;
}
.group-info-tab-bord {
  width: 100%;
  /*min-height: 260px;*/
  background: #F9F9F9 none repeat scroll 0% 0%;
  border-radius: 5px;
  border: 1px solid #DDD;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  overflow: hidden;
}
.entete-zonz-tab-bord {
  padding: 7px;
  font-weight: 500;
  height: 46px;
  border-bottom: 1px solid #DDD;
}
.entete-zonz-tab-bord h6 {
  font-weight: 500;
  font-size: 16px !important;
  margin: 6px 0px 0px !important;
}
.entete-zonz-tab-bord .bt-tab-bord {
  color: #555;
  font-size: 18px;
  margin: 4px 0px 0px !important;
}
.bt-tab-bord a {
  color: #555;
}
.col-lg-30 > .group-info-tab-bord > .corps-zonz-tab-bord {
  min-height: auto !important;
}
.corps-zonz-tab-bord {
  min-height: 230px;
  background: #FFF;
}
/*tableaux*/
.table-striped > tbody > tr:nth-of-type(2n+1) td {
  background-color: #F9F9F9;
}
.table-striped > tbody > tr:nth-of-type(2n+1) td.alert.alert-warning {
  background-color: #FCF8E3;
}
table.tableauDetail tbody tr td {
  width: 80%;
}
table.tableauDetail tbody tr td:first-of-type {
  text-align: right;
  width: 20%;
  font-weight: 500;
  background: #F5F5F5;
}
table.tableauDetail tbody tr td:only-child {
  text-align: left;
  width: 80%;
  background: #ffffff;
}
table.tableauDetail tbody tr:nth-of-type(2n+1) td:first-of-type {
  background: #F8F8F8;
}
span.action {
  position: relative;
  top: -4px;
  margin-right: 10px;
  cursor: pointer;
}
span.action:hover span.libelleAction {
  font-weight: 500;
}
span.action span.libelleAction {
  font-weight: 400;
  color: #888;
  font-size: 14px;
  /*transition: font-weight .6s ease;*/
}
span.action .btVert {
  color: #7fc352;
}
span.action .btOrange {
  color: #ed7827;
}
span.action .btBleu {
  color: #4e82bb;
}
h4 .jolie-cercle-ajout-liste i {
  position: relative;
  top: -3px;
}
.jolie-cercle-ajout-liste {
  border: 1px solid #DDD;
  padding: 2px 5px 1px;
  color: #555;
  display: inline-block;
  width: 27px;
  height: 27px;
  background: #FFF;
  position: relative;
  z-index: 3;
  transition: background .2s ease;
}
.jolie-cercle-ajout-liste:hover {
  background: #F0F0F0 !important;
}
.jolie-cercle-ajout-liste.red {
  background: red;
  color: #FFF;
}
.jolie-cercle-ajout-liste.red i {
  color: #FFF;
}
.jolie-cercle-ajout-liste i {
  font-size: 10px !important;
  /*            .relative;
                    top: -4px;
                    left: -1px;*/
}
h4 .joliecercle-ajout-liste i {
  position: relative;
  top: -3px;
}
table {
  border-bottom: 1px solid #DDD;
  margin: 0px !important;
}




