<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition template = "/templates/appTemplate.xhtml">
		<ui:define name="view">
			<h:form id="viewForm">
				<div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['appSeqView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                    <p:fieldset id="fields"  styleClass="formFieldset sipe-fs fs-full">

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['seqName.label']}" for="seqName" />
                                                </li>
                                                <li>
                                                    <p:inputText id="seqName" value="#{appSeqBean.formObject.seqName}" required="#{true eq param.validate}" disabled="#{appSeqBean.editMode}"  maxlength="50"  styleClass="champs-double" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="seqName"  display="icon" />
                                                </li>
                                                <li class="sipe-libelle interne">
                                                    <p:outputLabel value="#{msg['seqVal.label']}" for="seqVal" />
                                                </li>
                                                <li>
                                                    <p:inputText id="seqVal" value="#{appSeqBean.formObject.seqVal}" required="#{true eq param.validate}"  maxlength="10"  styleClass="champs-simple" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="seqVal"  display="icon" />
                                                </li>
                                            </ul>

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['seqPref.label']}" for="seqPref" />
                                                </li>
                                                <li>
                                                    <p:inputText id="seqPref" value="#{appSeqBean.formObject.seqPref}" maxlength="100"  styleClass="champs-simple" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="seqPref"  display="icon" />
                                                </li>
                                                <li class="sipe-libelle interne">
                                                    <p:outputLabel value="#{msg['seqSuf.label']}" for="seqSuf" />
                                                </li>
                                                <li>
                                                    <p:inputText id="seqSuf" value="#{appSeqBean.formObject.seqSuf}" maxlength="100"  styleClass="champs-simple" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="seqSuf"  display="icon" />
                                                </li>
                                                <li class="sipe-libelle interne">
                                                    <p:outputLabel value="#{msg['seqLength.label']}" for="seqLength" />
                                                </li>
                                                <li>
                                                    <p:inputText id="seqLength" value="#{appSeqBean.formObject.seqLength}" required="#{true eq param.validate}"  maxlength="22"  styleClass="champs-simple" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="seqLength"  display="icon" />
                                                </li>
                                            </ul>

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['patternPref.label']}" for="patternPref" />
                                                </li>
                                                <li>
                                            <p:selectOneRadio id="patternPref" value="#{appSeqBean.formObject.patternPref}"  required="#{true eq param.validate}"  >
                                                <f:selectItem itemLabel="#{msg['label.oui']}" itemValue="true" />
                                                <f:selectItem itemLabel="#{msg['label.non']}" itemValue="false" />
                                            </p:selectOneRadio>

                                                    <p:message for="patternPref"  display="icon" />
                                                </li>
                                                <li class="sipe-libelle interne">
                                                    <p:outputLabel value="#{msg['patternSuf.label']}" for="patternSuf" />
                                                </li>
                                                <li>
                                            <p:selectOneRadio id="patternSuf" value="#{appSeqBean.formObject.patternSuf}"  required="#{true eq param.validate}"  >
                                                <f:selectItem itemLabel="#{msg['label.oui']}" itemValue="true" />
                                                <f:selectItem itemLabel="#{msg['label.non']}" itemValue="false" />
                                            </p:selectOneRadio>

                                                    <p:message for="patternSuf"  display="icon" />
                                                </li>
                                            </ul>

                                    </p:fieldset>


                                    <div   class="action-bar action-bar-triple" >
                                        <p:messages showDetail="true" />
                                        <ul class='rtl'>
                                           <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{appSeqBean.enregistrer()}" update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{appSeqBean.effacerTout()}"  update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                            <li>
                        <p:commandButton id="btnRech" value="#{msg['btn.value.rechercher']}" actionListener="#{appSeqBean.rechercher()}" icon="ui-icon-search" update="grid, @(.formFieldset)"  >
                            <f:param name="validate" value="false" />
                        </p:commandButton>
                                            </li>
                                        </ul>
                                    </div>
                            </div>


                            <p:dataTable id="grid" value="#{appSeqBean.dataList}" var="item" emptyMessage="#{appSeqBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{appSeqBean.selectedObject}" rowKey="#{item.seqName}"
                                         filteredValue="#{appSeqBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{item.seqName}" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['appSeqGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{appSeqBean.rowSelect}"  update="@(.formFieldset) "  />
                                <p:column headerText="#{msg['seqName.label']}" filterBy="#{item.seqName}" sortBy="#{item.seqName}" style="width: 200px" > 
                                                    <h:outputText value="#{item.seqName}" /> 
                                </p:column>
                                <p:column headerText="#{msg['seqVal.label']}" filterBy="#{item.seqVal}" sortBy="#{item.seqVal}" style="width: 200px" > 
                                                    <h:outputText value="#{item.seqVal}" /> 
                                </p:column>
                                <p:column headerText="#{msg['seqPref.label']}" filterBy="#{item.seqPref}" sortBy="#{item.seqPref}" style="width: 120px" > 
                                                    <h:outputText value="#{item.seqPref}" /> 
                                </p:column>
                                <p:column headerText="#{msg['seqSuf.label']}" filterBy="#{item.seqSuf}" sortBy="#{item.seqSuf}" style="width: 120px" > 
                                                    <h:outputText value="#{item.seqSuf}" /> 
                                </p:column>
                                <p:column headerText="#{msg['seqLength.label']}" sortBy="#{item.seqLength}" style="width: 100px" > 
                                                    <h:outputText value="#{item.seqLength}" /> 
                                </p:column>
                                <p:column headerText="#{msg['patternPref.label']}" sortBy="#{item.patternPref}" style="width: 100px" > 
                                                    <h:outputText value="#{item.patternPref ? msg['label.oui'] : msg['label.non']}" /> 
                                </p:column>
                                <p:column headerText="#{msg['patternSuf.label']}" sortBy="#{item.patternSuf}" style="width: 100px" > 
                                                    <h:outputText value="#{item.patternSuf ? msg['label.oui'] : msg['label.non']}" /> 
                                </p:column>
                                <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" /> 
                                </f:facet>
                            </p:dataTable>

                        </div>
                    </div>
                    <div id="title_bar" style="margin-top: 5px;">
                        <span class="title"><p:outputLabel value="#{msg['appSeqView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{appSeqBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                msg1="#{appSeqBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>
                
                <sic:warningDialog id="warningDlg" widgetVar="warningOpp" title="#{msg['dlg.warning.title']}" 
                                   msg1="#{appSeqBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton  styleClass="btn-ok" value="#{msg['btn.value.ok']}" style="width: 100px"
                                          onclick="PF('warningOpp').hide()"  />
                    </div>

                </sic:warningDialog>
                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['AppSeq.label']}" widgetVar="gridExporter" grid=":viewForm:grid" />
            </h:form>
        </ui:define>
    </ui:composition>
</html>