<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition template = "/templates/appTemplate.xhtml">
		<ui:define name="view">
			<h:form id="viewForm">
				<div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['appView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                    <p:fieldset id="fields"  styleClass="formFieldset sipe-fs fs-full">

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['appName.label']}" for="appName" />
                                                </li>
                                                <li>
                                                    <p:inputText id="appName" value="#{appBean.formObject.appName}" required="#{true eq param.validate}"  maxlength="20"  styleClass="champs-simple" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="appName"  display="icon" />
                                                </li>
                                                <li class="sipe-libelle interne">
                                                    <p:outputLabel value="#{msg['appDesc.label']}" for="appDesc" />
                                                </li>
                                                <li>
                                                    <p:inputText id="appDesc" value="#{appBean.formObject.appDesc}" maxlength="100"  styleClass="champs-double" >
                                                    </p:inputText>
                                                    <br/> 
                                                    <p:message for="appDesc"  display="icon" />
                                                </li>
                                            </ul>

                                    </p:fieldset>


                                    <div   class="action-bar action-bar-triple" >
                                        <p:messages showDetail="true" />
                                        <ul class='rtl'>
                                           <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{appBean.enregistrer()}" update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSuppr" action="#{appBean.confirmerSuppression()}" disabled="#{!appBean.editMode}" icon="ui-icon-trash" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{appBean.effacerTout()}"  update="grid, @(.formFieldset), btnSuppr" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                            <li>
                        <p:commandButton id="btnRech" value="#{msg['btn.value.rechercher']}" actionListener="#{appBean.rechercher()}" icon="ui-icon-search" update="grid, @(.formFieldset), btnSuppr"  >
                            <f:param name="validate" value="false" />
                        </p:commandButton>
                                            </li>
                                        </ul>
                                    </div>
                            </div>


                            <p:dataTable id="grid" value="#{appBean.dataList}" var="item" emptyMessage="#{appBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{appBean.selectedObject}" rowKey="#{item.appId}"
                                         filteredValue="#{appBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{item.appName}" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['appGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{appBean.rowSelect}"  update="@(.formFieldset), :viewForm:btnSuppr "  />
                                <p:column headerText="#{msg['appName.label']}" filterBy="#{item.appName}" sortBy="#{item.appName}" style="width: 200px" > 
                                                    <h:outputText value="#{item.appName}" /> 
                                </p:column>
                                <p:column headerText="#{msg['appDesc.label']}" filterBy="#{item.appDesc}" sortBy="#{item.appDesc}" style="width: 100%" > 
                                                    <h:outputText value="#{item.appDesc}" /> 
                                </p:column>
                                <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" /> 
                                </f:facet>
                            </p:dataTable>

                        </div>
                    </div>
                    <div id="title_bar" style="margin-top: 5px;">
                        <span class="title"><p:outputLabel value="#{msg['appView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{appBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                msg1="#{appBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                  widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{appBean.supprimer()}"  
                                         update=":viewForm:grid, @(.formFieldset)" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>
                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['App.label']}" widgetVar="gridExporter" grid=":viewForm:grid" />
            </h:form>
        </ui:define>
    </ui:composition>
</html>