<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sic="http://www.mte.org/custom/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <p:fieldset id="formFieldsetHypodiag" style="width: auto; margin-bottom: 5px;" styleClass="formFieldsetHypodiag formFieldset  sipe-fs fs-full">
        <div id="formulairehypoCons">
            <p:fieldset id="fieldsetHypodiag" style="width: auto; margin-bottom: 5px;" styleClass="formFieldsetDetailHypo sipe-fs fs-full">
                <div style="clear: both;"></div>
                <ul class="sipe-row">
                    <li class="sipe-libelle">
                        <p:outputLabel value="#{msg['hypoDiagCons.label']}" for="codeHypoDiag" />
                    </li>
                    <li>
                        <p:selectOneMenu id="codeHypoDiag" value="#{hypothesediagConsBean.formObjectDetail.hypothesediag}" disabled="#{hypothesediagConsBean.editModeDetail}" required="#{true eq param.validateHypothesediag}" filter = "true" filterMatchMode="contains" converter = "hypothesediagConv" var = "item5"  maxlength="15"  styleClass="champs-double"> 
                            <f:selectItem itemLabel="----   ---" itemValue="" />
                            <f:selectItems value="#{hypothesediagConsBean.hypothesediagList}" var = "codeHypoDiag" itemLabel="#{codeHypoDiag.libhypo}" itemValue="#{codeHypoDiag}" />
                            <p:column>
                                #{item5.libhypo}
                            </p:column>
                         </p:selectOneMenu>
                        <p:message for="codeHypoDiag"  display="icon" />
                    </li>
                    <li class="sipe-libelle interne">
                        <p:outputLabel value="#{msg['observationhypo.label']}" for="observationhypo" />
                    </li>
                    <li>
                        <p:inputTextarea rows="4" id="observationhypo" value="#{hypothesediagConsBean.formObjectDetail.observationhypo}" required="#{true eq param.validateHypothesediag}"  maxlength="12"  styleClass="champs-double" >
                        </p:inputTextarea>
                        <br/> 
                        <p:message for="observationhypo"  display="icon" />
                    </li>                   
                </ul>
                <div style="clear: both;"></div>
            </p:fieldset>

            <div  class="action-bar action-bar-quadruple">
                <ul class='rtl'>
                    <li><p:commandButton value="#{msg['btn.value.valider']}" icon="ui-icon-check" actionListener="#{operConsultationMedBean.hypothesediagConsBean.validerDetail()}" update="@(.formFieldsetHypodiag)">
                            <f:param name="validateHypothesediag" value="true" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSupprHypoDiagCons" action="#{operConsultationMedBean.hypothesediagConsBean.confirmerSuppression()}" disabled="#{!operConsultationMedBean.hypothesediagConsBean.editModeDetail}" icon="ui-icon-trash" update="@(.formFieldsetHypodiag)">
                            <f:param name="validateDet" value="false" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{operConsultationMedBean.hypothesediagConsBean.effacerDetail()}"  update="@(.formFieldsetHypodiag)" >
                            <f:param name="validateDet" value="false" />
                        </p:commandButton></li>

                </ul>
            </div>
        </div>
        <p:dataTable id="gridDetailHypoDiagCons" value="#{operConsultationMedBean.hypothesediagConsBean.dataListDetail}" var="itemdet5" emptyMessage="#{operConsultationMedBean.hypothesediagConsBean.gridEmptyMessageDetail}" paginator="true" rows="10" selectionMode="single"
                     selection="#{operConsultationMedBean.hypothesediagConsBean.selectedObjectDetail}" rowKey="#{itemdet5.hypothesediagConsPK}"
                     filteredValue="#{operConsultationMedBean.hypothesediagConsBean.filteredListDetail}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemdet5.hypothesediag.libhypo}" sortOrder="descending" >
            <f:facet name = "header">  <p:outputLabel value="#{msg['listHypoDiagConsGrid.title']}" /> </f:facet>
            <p:ajax event="rowSelect" listener="#{operConsultationMedBean.hypothesediagConsBean.rowSelectDetail()}"  update="@(.formFieldsetHypodiag)"  />
            <p:column headerText="#{msg['hypoDiagCons.label']}" filterBy="#{itemdet5.hypothesediag.libhypo}"  sortBy="#{itemdet5.hypothesediag.libhypo}" > 
                <h:outputText value="#{itemdet5.hypothesediag.libhypo}" /> 
            </p:column>
            <p:column headerText="#{msg['observationhypo.label']}" filterBy="#{itemdet5.observationhypo}" sortBy="#{itemdet5.observationhypo}" style="width: 15%"> 
                <h:outputText value="#{itemdet5.observationhypo}" /> 
            </p:column>
        </p:dataTable>
    </p:fieldset>
</ui:composition>