<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/mainTemplate.xhtml">
        <ui:define name="main_content">

            <div id="index">
                <div id="raccourcis_bar_accueil">
                    <aside id="hoe-left-panel" hoe-position-type="absolute">
                        <ul class="nav panel-list">
                            <!--<li class="nav-level">Navigation</li> -->
                            <h:outputText value="#{loginBean.menuHtmlContent}" escape="false" />
                        </ul>
                    </aside>
                </div>
                <div id="img_accueil">
                </div>
            </div>

            <h:form id="dialogForm">

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}"   
                                         oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>


            </h:form>


        </ui:define>
    </ui:composition>
</html>