<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sic="http://www.mte.org/custom/components">

    <p:fieldset styleClass="fieldsNavire formFieldset sipe-fs fs-full" >
        <p:fieldset legend="Identite du Patient" styleClass="sipe-fs fs-full" rendered="#{infoPatientBean.renderedInfosPatient}" toggleable="true" collapsed="#{infoPatientBean.collapseInfos}"> 
            <ul class="sipe-row">
                <li class="sipe-libelle">
                    <p:outputLabel value="#{msg['nom.label']}" />
                </li>
                <li>
                    <p:inputText id="nom2" readonly="true" value="#{infoPatientBean.selectedPatient.nom}"    styleClass="champs-simple-ro" />                                                        
                </li>                                         
                <li class="sipe-libelle interne">
                    <p:outputLabel value="#{msg['prenom.label']}" />
                </li>
                <li>
                    <p:inputText id="prenom2" readonly="true" value="#{infoPatientBean.selectedPatient.prenom}"  styleClass="champs-simple-ro" />                                                        
                </li>
                <li class="sipe-libelle interne">
                    <p:outputLabel value="#{msg['deuxieme_prenom.label']}" />
                </li>
                <li>
                    <p:inputText id="deuxieme_prenom2" readonly="true" value="#{infoPatientBean.selectedPatient.deuxieme_prenom}"  styleClass="champs-simple-ro" />                                                        
                </li>

                <li class="sipe-libelle interne">
                    <p:outputLabel value="#{msg['profession.label']}" />
                </li>
                <li>
                    <p:inputText id="profession" readonly="true" value="#{infoPatientBean.selectedPatient.profession}" styleClass="champs-simple-ro"/>                                                        
                </li> 
                </ul>
            <div style="clear: both;"></div>

            <ul class="sipe-row">
                <li class="sipe-libelle">
                    <p:outputLabel value="#{msg['dateNaissance.label']}"/>
                </li>
                <li>
                    <p:calendar id="datenaiss" readonly="true" value="#{infoPatientBean.selectedPatient.datenaiss}" pattern="dd/MM/yyyy" styleClass="champs-simple-ro"/>                                                        
                </li> 
            </ul>

            <div style="clear: both;"></div>

            <ul class="sipe-row">
                <li class="sipe-libelle">
                    <p:outputLabel value="#{msg['groupesanguin.label']}" />
                </li>
                <li>
                    <p:inputText id="groupesanguin" readonly="true" value="#{infoPatientBean.selectedPatient.groupesanguin}" styleClass="champs-simple-ro" />                                                        
                </li>                                         
        
            </ul>
            <div style="clear: both;"></div>

            <ul class="sipe-row">
         
            </ul>
            <div style="clear: both;"></div>
        </p:fieldset>
        
    </p:fieldset>
</ui:composition>
