<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template = "/templates/appTemplate.xhtml">
        <ui:define name="view">
            <h:form id="viewForm">
                <div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['operConsultationMedView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                <ui:include src="/searchPatient.xhtml"/>
                                <p:fieldset id="fields" legend="#{msg['operConsulConstante.label']}" style="width: auto; margin-bottom: 5px;"  styleClass="formFieldset sipe-fs fs-full">
                                    <div style="clear: both;"></div>

                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['nomMedecin.label']}" for="idmed" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="idmed" value="#{operConsultationMedBean.formObject.idmed}" required="#{true eq param.validate}" filter = "true" filterMatchMode="contains" converter = "medecinConv" var = "item3"  maxlength="10" styleClass="champs-simple" > 
                                                <f:selectItem itemLabel="----   ---" itemValue="" />
                                                <f:selectItems value="#{operConsultationMedBean.medecinList}" var = "idmed" itemLabel="#{idmed.nommedecin}" itemValue="#{idmed.idmed}"/>
                                                <p:column>
                                                    #{item3.idmed}
                                                </p:column>
                                               
                                            </p:selectOneMenu>
                                            <p:message for="idmed"  display="icon" />
                                        </li>
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['typeconsult.label']}" for="typeconsult" />
                                        </li>
                                        <li>
                                            <p:selectOneMenu id="typeconsult" value="#{operConsultationMedBean.formObject.idtypeconsult}" filter = "true" filterMatchMode="contains" converter = "typeconsultConv" var = "item4"  maxlength="10" styleClass="champs-simple" > 
                                                <f:selectItem itemLabel="----   ---" itemValue="" />
                                                <f:selectItems value="#{operConsultationMedBean.typeconsultList}" var = "typeconsult" itemLabel="#{typeconsult.libtype}" itemValue="#{typeconsult.idtypeconsult}"/>
                                                <p:column>
                                                    #{item4.libtype}
                                                </p:column>
                                            </p:selectOneMenu>
                                            <p:message for="typeconsult"  display="icon" />
                                        </li>
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['dateConsultation.label']}" for="dateConsultation" /> 
                                        </li>
                                        <li>
                                            <p:calendar id="dateConsultation" binding="#{dateDebutOperation}" showButtonPanel="true" value="#{operConsultationMedBean.formObject.dateconsultation}" required="#{true eq param.validate}" locale="#{localeBean.currentLang}" showOn="button" navigator="true" showOtherMonths="true" selectOtherMonths="true"
                                                        mask="true" pattern = "dd/MM/yyyy HH:mm" styleClass="champs-simple">
                                                <p:clientValidator event="keyup"/>
                                                <f:validator validatorId="datePasseeValid" />
                                                <f:validator validatorId="dateDebutValid" /> 
                                                <f:attribute name="dateFin" value="#{dateFinOperation}" />
                                            </p:calendar>
                                            <br/> 
                                            <p:message for="dateConsultation"  display="icon"/>
                                        </li>
                                    </ul>
                                    <div style="clear: both;"></div>
                                    <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['temperature.label']}" for="temperature" />
                                        </li>
                                        <li>
                                            <p:inputText id="temperature" value="#{operConsultationMedBean.formObject.temppatient}" required="#{true eq param.validateDetFrnt}"  maxlength="12"  styleClass="champs-simple" >
                                                <f:validateLongRange minimum="1" />
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="temperature"  display="icon" />
                                        </li>    
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['poids.label']}" for="poids" />
                                        </li>
                                        <li>
                                            <p:inputText id="poids" value="#{operConsultationMedBean.formObject.poidspatient}" required="#{true eq param.validate}"  maxlength="12"  styleClass="champs-simple" >
                                                <f:validateLongRange minimum="1" />
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="poids"  display="icon" />
                                        </li>
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['tension.label']}" for="tension" />
                                        </li>
                                        <li>
                                            <p:inputText id="tension" value="#{operConsultationMedBean.formObject.tensionpatient}" required="#{true eq param.validate}"  maxlength="12"  styleClass="champs-simple" >
                                                <f:validateLongRange minimum="1" />
                                            </p:inputText>
                                            <br/> 
                                            <p:message for="tension"  display="icon" />
                                        </li>
                                        </ul>
                                        <div style="clear: both;"></div>
                                        <ul class="sipe-row">
                                        <li class="sipe-libelle">
                                            <p:outputLabel value="#{msg['descconsultation.label']}" for="descconsultation" />
                                        </li>
                                        <li>
                                            <p:inputTextarea id="descconsultation" rows="6" value="#{operConsultationMedBean.formObject.descconsultation}"  styleClass="champs-triple" >
                                            </p:inputTextarea>
                                            <br/> 
                                            <p:message for="descconsultation" display="icon" />
                                        </li>
                                            
                                        <li class="sipe-libelle interne">
                                            <p:outputLabel value="#{msg['dateProchainrdv.label']}" for="dateRDV" />
                                        </li>
                                        <li>
                                            <p:calendar id="dateRDV" binding="#{dateFinOperation}"  showButtonPanel="true" value="#{operConsultationMedBean.formObject.daterendezvous}" required="#{true eq param.validate}" locale="#{localeBean.currentLang}" showOn="button" navigator="true" showOtherMonths="true" selectOtherMonths="true"
                                                        mask="true" pattern = "dd/MM/yyyy HH:mm" styleClass="champs-simple">
                                                  <p:clientValidator event="keyup"/>
                                                <f:validator validatorId="datePasseeValid" />
                                                <f:validator validatorId="dateFinValid" /> 
                                                <f:attribute name="dateDebut" value="#{dateDebutOperation}" />
                                            </p:calendar>
                                            <br/> 
                                            <p:message for="dateRDV"  display="icon"/>
                                        </li>
                                    </ul>
                                </p:fieldset>

                                <p:fieldset id="fieldsDetConsult" legend="#{msg['detailprestation.label']}" styleClass="sipe-fs fs-full" style="width: auto; margin-bottom: 5px;">
                                    <p:tabView id="DetOptabView" dynamic="true" cache="true">
                                        <p:tab id="ConsultHypothese" title="#{msg['hypodiag.label']}">
                                           <ui:include src="/hypothesediagConsView.xhtml"/> 
                                        </p:tab>
                                        <p:tab id="ConsultOrdonnance" title="#{msg['ordonnance.label']}">
                                            <ui:include src="/prescriptionView.xhtml" />                                       
                                        </p:tab>
                                        <p:tab id="ConsultAnalyse" title="#{msg['analyse.label']}">
                                            <ui:include src="/analyseDemandeeView.xhtml" /> 
                                        </p:tab>
                                    </p:tabView>
                                </p:fieldset>

                                <p:outputPanel autoUpdate="true">
                                    <div style="clear: both;"></div>
                                    <p:messages showDetail="true" />
                                </p:outputPanel>
                                <div   class="action-bar action-bar-quadruple" >

                                    <ul class='rtl'>
                                        <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{operConsultationMedBean.enregistrerConsultation()}" update="grid, @(.formFieldset),:viewForm:fieldsDetConsult" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                        <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSuppr" action="#{operConsultationMedBean.confirmerSuppression()}" disabled="#{!operConsultationMedBean.editMode}" icon="ui-icon-trash" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                        <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{operConsultationMedBean.effacerMasterDet()}"  update="grid, @(.formFieldset),:viewForm:fieldsDetConsult">
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                        <li><p:commandButton value="#{msg['btn.value.rechercher']}" actionListener="#{operConsultationMedBean.rechercher(true)}" icon="ui-icon-search" update="grid, @(.formFieldset),:viewForm:fieldsDetConsult">
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>

                                    </ul>
                                </div>
                            </div>

                            <p:dataTable id="grid" value="#{operConsultationMedBean.dataList}" var="item" emptyMessage="#{operConsultationMedBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{operConsultationMedBean.selectedObject}" rowKey="#{item.idconsultaion}"
                                         filteredValue="#{operConsultationMedBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{item.idconsultaion}" sortOrder="descending" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['operConsultationGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{operConsultationMedBean.rowSelectReloadDetConsultation()}"  update="@(.ui-datatable),@(.formFieldset), @(.fieldsEscale), :viewForm:btnSuppr,:viewForm:fieldsDetConsult"/>
                                <p:column headerText="#{msg['idconsultaion.label']}" sortBy="#{item.idconsultaion}" filterBy="#{item.idconsultaion}" style="width: 150px"> 
                                    <h:outputText value="#{item.idconsultaion}"/> 
                                </p:column>
                                <p:column headerText="#{msg['codeDossierPatient.label']}" sortBy="#{item.id_patient.id_patient}" filterBy="#{item.id_patient.id_patient}" style="width: 150px"> 
                                    <h:outputText value="#{item.id_patient.id_patient}"/> 
                                </p:column>                                
                                <p:column headerText="#{msg['patient.label']}" sortBy="#{item.id_patient.nom}" filterBy="#{item.id_patient.nom}" style="width: 400px"> 
                                    <h:outputText value="#{item.id_patient.nom}" /> 
                                </p:column>
                                <p:column headerText="#{msg['dateConsultation.label']}" sortBy="#{item.dateconsultation}" style="width: 160px"> 
                                    <h:outputText value="#{item.dateconsultation}">
                                        <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm" />
                                    </h:outputText>
                                </p:column> 
                                <p:column headerText="#{msg['dateProchainrdv.label']}" sortBy="#{item.daterendezvous}" style="width: 150px"> 
                                    <h:outputText value="#{item.daterendezvous}">
                                        <f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm" />
                                    </h:outputText>
                                </p:column>
                                <p:column headerText="#{msg['nomMedecin.label']}" sortBy="#{item.idmed.nommedecin}" filterBy="#{item.idmed.nommedecin}" style="width: 200px"> 
                                    <h:outputText value="#{item.idmed.nommedecin}" /> 
                                </p:column>
                                
                               <f:facet name = "footer"> 
                                    <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporter').show();" />
                                </f:facet>

                            </p:dataTable>

                        </div>
                    </div>
                    <div id="title_bar" style="margin-top: 5px;">
                        <span class="title"><p:outputLabel value="#{msg['operManutConcView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">

                <sic:gridExporter title="#{msg['dlg.export.title']} #{msg['operManutConcView.title']}" widgetVar="gridExporter" grid=":viewForm:grid" />

                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{operConsultationMedBean.message}" widgetVar="succesOppMseManut">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOppMseManut').hide();" />
                </sic:successDialog>

                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{operConsultationMedBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>


                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                 msg1="#{operConsultationMedBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                         onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{operConsultationMedBean.supprimer()}"  
                                         update=":viewForm:grid,:viewForm:fieldsDetConsult" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>

                <!-- Pour les équipes affectées -->
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{prescriptionBean.message}" widgetVar="succesOppDetEq">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOppDetEq').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOppDetEq" title="#{msg['dlg.error.title']}" 
                                 msg1="#{prescriptionBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                         onclick="PF('echecOppDetEq').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDeleteDetEq" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{prescriptionBean.supprimerDetail()}"  
                                         update=":viewForm:grid,:viewForm:fieldsDetConsult" oncomplete="PF('confirmDeleteDetEq').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDeleteDetEq').hide()"/>
                    </div>
                </sic:confirmDialog>

                <!-- Pour les fournitures et prestations -->
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{prescriptionBean.message}" widgetVar="succesOppDetFrnt">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOppDetFrnt').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOppDetFrnt" title="#{msg['dlg.error.title']}" 
                                 msg1="#{prescriptionBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                         onclick="PF('echecOppDetFrnt').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDeleteDetFrnt" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{prescriptionBean.supprimerDetail()}"  
                                         update=":viewForm:grid,:viewForm:fieldsDetConsult" oncomplete="PF('confirmDeleteDetFrnt').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDeleteDetFrnt').hide()"/>
                    </div>
                </sic:confirmDialog>
                <!-- Pour les marchandises (tonnages) transportées -->
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{prescriptionBean.message}" widgetVar="succesOppDetTp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOppDetTp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOppDetTp" title="#{msg['dlg.error.title']}" 
                                 msg1="#{prescriptionBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                         onclick="PF('echecOppDetTp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                   widgetVar="confirmDeleteDetTp" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{prescriptionBean.supprimerDetail()}"  
                                         update=":viewForm:grid,:viewForm:fieldsDetConsult" oncomplete="PF('confirmDeleteDetTp').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDeleteDetTp').hide()"/>
                    </div>
                </sic:confirmDialog>


            </h:form>
        </ui:define>
    </ui:composition>
</html>