<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sic="http://www.mte.org/custom/components"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition template = "/templates/appTemplate.xhtml">
		<ui:define name="view">
			<h:form id="viewForm">
				<div id="view">
                    <div id="title_bar">
                        <span class="title"><p:outputLabel value="#{msg['profilReportView.title']}" /></span>
                        <p:commandButton styleClass="btn_quitter" type="push" value="#{msg['btn.value.quitter']}" title="#{msg['btn.title.quitter']}" action="index.xhtml?faces-redirect=true" icon="ui-icon-circle-close" />
                    </div>
                    <div id="form_panel">
                        <div id="form">
                            <div id="formulaire">
                                    <p:fieldset id="fields"  styleClass="formFieldset sipe-fs fs-full">

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['Profil.label']}" for="profilCode" />
                                                </li>
                                                <li>
                                                    <p:selectOneMenu id="profilCode" value="#{profilReportBean.formObject.profilCode}" filter = "true" filterMatchMode="contains" converter = "profilConv" var = "item"  maxlength="20"  styleClass="champs-simple-ro" > 
                                                    <f:selectItem itemLabel="----   ---" itemValue="" />
                                                    <f:selectItems value="#{profilReportBean.profilList}" var = "profilCode" itemLabel="#{profilCode.profilCode}" itemValue="#{profilCode}" />
                                                    <p:column>
                                                    	#{item.profilCode}
                                                    </p:column>
                                                    </p:selectOneMenu>
                                                    <p:message for="profilCode"  display="icon" />
                                                </li>
                                            </ul>

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['Report.label']}" for="reportId" />
                                                </li>
                                                <li>
                                                    <p:selectOneMenu id="reportId" value="#{profilReportBean.formObject.reportId}" filter = "true" filterMatchMode="contains" converter = "reportConv" var = "item"  maxlength="6"  styleClass="champs-simple-ro" > 
                                                    <f:selectItem itemLabel="----   ---" itemValue="" />
                                                    <f:selectItems value="#{profilReportBean.reportList}" var = "reportId" itemLabel="#{reportId.reportId}" itemValue="#{reportId}" />
                                                    <p:column>
                                                    	#{item.reportId}
                                                    </p:column>
                                                    </p:selectOneMenu>
                                                    <p:message for="reportId"  display="icon" />
                                                </li>
                                            </ul>

                                        <div style="clear: both;"></div>

                                            <ul class="sipe-row">
                                                <li class="sipe-libelle">
                                                    <p:outputLabel value="#{msg['actif.label']}" for="actif" />
                                                </li>
                                                <li>
                                                    <p:inputSwitch id="actif" onLabel = "#{msg['label.oui']}" offLabel = "#{msg['label.non']}" value="#{profilReportBean.formObject.actif}"  required="#{true eq param.validate}"  />

                                                    <p:message for="actif"  display="icon" />
                                                </li>
                                            </ul>

                                    </p:fieldset>


                                    <div   class="action-bar action-bar-double" >
                                        <p:messages showDetail="true" />
                                        <ul class='rtl'>
                                           <li><p:commandButton value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{profilReportBean.enregistrer()}" update="grid, @(.formFieldset)" >
                                                <f:param name="validate" value="true" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSuppr" action="#{profilReportBean.confirmerSuppression()}" disabled="#{!profilReportBean.editMode}" icon="ui-icon-trash" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                           <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{profilReportBean.effacer()}"  update="grid, @(.formFieldset), btnSuppr" >
                                                <f:param name="validate" value="false" />
                                            </p:commandButton></li>
                                            <li>
                                                <p:menuButton value="#{msg['btn.value.rechercher']}">
                                                    <p:menuitem value="#{msg['menu.item.value.par.et']}" actionListener="#{profilReportBean.rechercher(true)}" icon="ui-icon-search" update="grid, @(.formFieldset), btnSuppr"   >
                                                       <f:param name="validate" value="false" />
                                                    </p:menuitem>
                                                    <p:menuitem value="#{msg['menu.item.value.par.ou']}" actionListener="#{profilReportBean.rechercher(false)}" icon="ui-icon-search" update="grid, @(.formFieldset), btnSuppr"   >
                                                       <f:param name="validate" value="false" />
                                                    </p:menuitem>
                                                </p:menuButton>
                                            </li>
                                        </ul>
                                    </div>
                            </div>


                            <p:dataTable id="grid" value="#{profilReportBean.dataList}" var="item" emptyMessage="#{profilReportBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                                         selection="#{profilReportBean.selectedObject}" rowKey="#{item.reportId}"
                                         filteredValue="#{profilReportBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                         rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{item.reportId}" sortOrder="descending" >
                                <f:facet name = "header">  <p:outputLabel value="#{msg['profilReportGrid.title']}" /> </f:facet>
                                <p:ajax event="rowSelect" listener="#{profilReportBean.rowSelect}"  update="@(.formFieldset), :viewForm:btnSuppr "  />
                                <p:column headerText="#{msg['Profil.label']}" filterBy="#{item.profilCode.profilCode}"  sortBy="#{item.profilCode.profilCode}" > 
                                                    <h:outputText value="#{item.profilCode.profilCode}" /> 
                                </p:column>
                                <p:column headerText="#{msg['Report.label']}" filterBy="#{item.reportId.reportId}"  sortBy="#{item.reportId.reportId}" > 
                                                    <h:outputText value="#{item.reportId.reportId}" /> 
                                </p:column>
                                <p:column headerText="#{msg['actif.label']}" filterBy="#{item.actif}" sortBy="#{item.actif}" > 
                                                    <h:outputText value="#{item.actif ? msg['label.oui'] : msg['label.non']}" /> 
                                </p:column>
                                <f:facet name = "footer"> 
                                                    <p:commandButton value="PDF" ajax="false">
                                                    <p:dataExporter target="grid" type="pdf" fileName="ProfilReportList" />
                                                    </p:commandButton>
                                                    <p:commandButton value="XLS" ajax="false">
                                                    <p:dataExporter target="grid" type="xls" fileName="ProfilReportList" />
                                                    </p:commandButton>
                                                    <p:commandButton value="CSV" ajax="false">
                                                    <p:dataExporter target="grid" type="csv" fileName="ProfilReportList" />
                                                    </p:commandButton>
                                </f:facet>
                            </p:dataTable>

                        </div>
                    </div>
                </div>
            </h:form>

            <h:form id="dialogForm">
                <sic:successDialog title="#{msg['dlg.success.title']}" msg1="#{profilReportBean.message}" widgetVar="succesOpp">
                    <p:commandButton value="#{msg['btn.value.ok']}" type="button" onclick="PF('succesOpp').hide();" />
                </sic:successDialog>

                <sic:errorDialog id="error" widgetVar="echecOpp" title="#{msg['dlg.error.title']}" 
                                msg1="#{profilReportBean.message}" >
                    <div style="margin-top: 10px; text-align: center">
                        <p:commandButton styleClass="btn" value="#{msg['btn.value.ok']}" style="width: 100px"
                                        onclick="PF('echecOpp').hide()"  />
                    </div>

                </sic:errorDialog>

                <sic:confirmDialog title="#{msg['dlg.confirm.delete.title']}" msg1="#{msg['dlg.confirm.delete.msg1']}"
                                  widgetVar="confirmDelete" >
                    <div style="margin-top: 10px; text-align: right">
                        <p:commandButton value="#{msg['btn.value.oui']}" actionListener="#{profilReportBean.supprimer()}"  
                                         update=":viewForm:grid" oncomplete="PF('confirmDelete').hide()" 
                                         icon="ui-icon-trash"/>
                        <p:commandButton value="#{msg['btn.value.non']}" type="button" 
                                         onclick="PF('confirmDelete').hide()"/>
                    </div>
                </sic:confirmDialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>