<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sic="http://www.mte.org/custom/components">



    <p:fieldset id="fieldsProfilReport" styleClass="fieldsProfilReport formFieldset sipe-fs fs-full" legend="#{msg['fs.legend.attribReportProfil']}">
        <div id="formulaire">

            <p:fieldset styleClass="formFieldset sipe-fs fs-full">

                <div style="clear: both;"></div>

                <ul class="sipe-row">
                    <li class="sipe-libelle">
                        <p:outputLabel value="#{msg['Profil.label']}" for="profil" />
                    </li>
                    <li>
                        <p:selectOneMenu id="profil" value="#{profilReportBean.formObject.profil}" disabled="#{profilReportBean.editMode}" filter = "true" filterMatchMode="contains" converter = "profilConv" var = "itemProfilReport"  maxlength="20"  styleClass="champs-simple-ro" > 
                            <f:selectItem itemLabel="----   ---" itemValue="" />
                            <f:selectItems value="#{profilReportBean.profilList}" var="profil" itemLabel="#{profil.profilDesc}" itemValue="#{profil}" />
                            <p:column>
                                #{itemProfilReport.profilDesc}
                            </p:column>
                            <p:ajax listener="#{profilReportBean.profilChanged()}" onstart="PF('blockUIProfilReport').show()" oncomplete="PF('blockUIProfilReport').hide()" update="@(.fieldsProfilReport, .fsReportDispoProfil)" />
                        </p:selectOneMenu>
                        <p:message for="profil"  display="icon" />
                    </li>
                    <li class="sipe-libelle interne">
                        <p:outputLabel value="#{msg['actif.label']}" for="actifPR" />
                    </li>
                    <li>
                        <p:selectOneRadio id="actifPR" value="#{profilReportBean.formObject.actif}" required="#{true eq param.validate}" >
                            <f:selectItem itemLabel="#{msg['label.oui']}" itemValue="true" />
                            <f:selectItem itemLabel="#{msg['label.non']}" itemValue="false" />
                        </p:selectOneRadio>

                        <p:message for="actifPR"  display="icon" />
                    </li>
                </ul>

                <div style="clear: both;"></div>

                <p:fieldset id="fsReportDispoProfil" legend="#{msg['fs.legend.reportsDispo']}"   styleClass="fsReportDispoProfil sipe-fs fs-moitie moitie-left" style="width: 800px;">

                    <p:dataTable id="gridReportDispoProfil" value="#{profilReportBean.reportList}" var="itemProfilReport" emptyMessage="#{profilReportBean.gridEmptyMessage}" paginator="true" rows="10"
                                 selection="#{profilReportBean.selectedReportList}" rowSelectMode="checkbox"  rowKey="#{itemProfilReport.reportId}"
                                 filteredValue="#{profilReportBean.filteredListReport}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                                 rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemProfilReport.reportName}" >
                        <f:facet name = "header">  <p:outputLabel value="#{msg['reportGrid.title']}" /> </f:facet>
                        <p:column headerText="#{msg['choix.label']}" selectionMode="multiple"  style="width: 40px; text-align: center"/>
                        <p:column headerText="#{msg['reportName.label']}" filterBy="#{itemProfilReport.reportName}" sortBy="#{itemProfilReport.reportName}" style="width: 200px" > 
                            <h:outputText value="#{itemProfilReport.reportName}" /> 
                        </p:column>
                        <p:column headerText="#{msg['reportFile.label']}" sortBy="#{itemProfilReport.reportFile}" style="width: 200px" > 
                            <h:outputText value="#{itemProfilReport.reportFile}" /> 
                        </p:column>
                        <p:column headerText="#{msg['ReportType.label']}" filterBy="#{itemProfilReport.repTypeCode.repTypeDesc}"  sortBy="#{itemProfilReport.repTypeCode.repTypeDesc}" style="width: 130px" > 
                            <h:outputText value="#{itemProfilReport.repTypeCode.repTypeDesc}" /> 
                        </p:column>
                        <p:column headerText="#{msg['numOrdre.label']}" sortBy="#{itemProfilReport.numOrdre}" style="width: 100px" > 
                            <h:outputText value="#{itemProfilReport.numOrdre}" /> 
                        </p:column>
                    </p:dataTable>
                </p:fieldset>

            </p:fieldset>



            <div style="clear: both;"></div>
            <p:messages showDetail="true" />
            <div style="clear: both;"></div>

            <div   class="action-bar action-bar-triple" >

                <ul class='rtl'>
                    <li><p:commandButton id="btnEnregProfilReport" value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{profilReportBean.enregistrer()}" update="@(.fieldsProfilReport)" >
                            <f:param name="validate" value="true" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSupprProfilReport" action="#{profilReportBean.confirmerSuppression()}" disabled="#{!profilReportBean.editMode}" icon="ui-icon-trash" >
                            <f:param name="validate" value="false" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{profilReportBean.effacerTout()}"  update="@(.fieldsProfilReport)" >
                            <f:param name="validate" value="false" />
                        </p:commandButton></li>
                    <li>
                        <p:commandButton id="btnRechProfilReport" value="#{msg['btn.value.rechercher']}" actionListener="#{profilReportBean.rechercher()}" icon="ui-icon-search" update="@(.fieldsProfilReport)"  >
                            <f:param name="validate" value="false" />
                        </p:commandButton>
                    </li>
                </ul>
            </div>
        </div>

        <p:dataTable id="gridProfilReport" value="#{profilReportBean.dataList}" var="itemProfilReport" emptyMessage="#{profilReportBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                     selection="#{profilReportBean.selectedObject}" rowKey="#{itemProfilReport.profilReportPK}"
                     filteredValue="#{profilReportBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemProfilReport.report.reportName}" >
            <f:facet name = "header">  <p:outputLabel value="#{msg['profilReportGrid.title']}" /> </f:facet>
            <p:ajax event="rowSelect" listener="#{profilReportBean.rowSelect}"  update="@(.formFieldset), :viewForm:tabView:btnSupprProfilReport "  />
            <p:column headerText="#{msg['Profil.label']}" filterBy="#{itemProfilReport.profil.profilDesc}"  sortBy="#{itemProfilReport.profil.profilDesc}" style="width: 200px;" > 
                <h:outputText value="#{itemProfilReport.profil.profilDesc}" /> 
            </p:column>
            <p:column headerText="#{msg['Report.label']}" filterBy="#{itemProfilReport.report.reportName}"  sortBy="#{itemProfilReport.report.reportName}" style="width: 300px;" > 
                <h:outputText value="#{itemProfilReport.report.reportName}" /> 
            </p:column>
            <p:column headerText="#{msg['actif.label']}" sortBy="#{itemProfilReport.actif}" style="width: 100px;" > 
                <h:outputText value="#{itemProfilReport.actif ? msg['label.oui'] : msg['label.non']}" /> 
            </p:column>
            <f:facet name = "footer"> 
                <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporterProfilReport').show();" /> 
            </f:facet>
        </p:dataTable>

    </p:fieldset>

    <p:blockUI block="fieldsProfilReport" widgetVar="blockUIProfilReport" trigger=":viewForm:tabView:btnEnregProfilReport, :viewForm:tabView:btnRechProfilReport">  
        #{msg['msg.chargementEnCours']}<br />  
        <p:graphicImage value="/img/dots32.gif"/>  
    </p:blockUI>

</ui:composition>