<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sic="http://www.mte.org/custom/components">



    <p:fieldset id="fieldsProfilMenu" styleClass="fieldsProfilMenu formFieldset sipe-fs fs-full" legend="#{msg['fs.legend.attribMenuProfil']}">
        <div id="formulaire">

            <p:fieldset styleClass="formFieldset sipe-fs fs-full">

                <div style="clear: both;"></div>

                <ul class="sipe-row">
                    <li class="sipe-libelle">
                        <p:outputLabel value="#{msg['Profil.label']}" for="profil" />
                    </li>
                    <li>
                        <p:selectOneMenu id="profil" value="#{profilMenuBean.formObject.profil}" disabled="#{profilMenuBean.editMode}" filter = "true" filterMatchMode="contains" converter = "profilConv" var = "item"  maxlength="20"  styleClass="champs-simple-ro" > 
                            <f:selectItem itemLabel="----   ---" itemValue="" />
                            <f:selectItems value="#{profilMenuBean.profilList}" var="profil" itemLabel="#{profil.profilDesc}" itemValue="#{profil}" />
                            <p:column>
                                #{item.profilDesc}
                            </p:column>
                            <p:ajax listener="#{profilMenuBean.profilChanged()}" onstart="PF('blockUIProfilMenu').show()" oncomplete="PF('blockUIProfilMenu').hide()" update="@(.fieldsProfilMenu, .fsMenuDispoProfil)" />
                        </p:selectOneMenu>
                        <p:message for="profil"  display="icon" />
                    </li>
                    <li class="sipe-libelle interne">
                        <p:outputLabel value="#{msg['actif.label']}" for="actifPM" />
                    </li>
                    <li>
                        <p:selectOneRadio id="actifPM" value="#{profilMenuBean.formObject.actif}" required="#{true eq param.validate}" >
                            <f:selectItem itemLabel="#{msg['label.oui']}" itemValue="true" />
                            <f:selectItem itemLabel="#{msg['label.non']}" itemValue="false" />
                        </p:selectOneRadio>

                        <p:message for="actifPM"  display="icon" />
                    </li>
                </ul>

            </p:fieldset>

            <p:fieldset id="fsMenuDispoProfil" legend="#{msg['fs.legend.menusDispo']}"   styleClass="fsMenuDispoProfil sipe-fs fs-moitie moitie-left" style="width: 60%;">

                <p:treeTable id="gridMenuDispoProfil" value="#{profilMenuBean.rootNodeMenusNonAttribues}" var="itemMenuDispoProfil" emptyMessage="#{profilMenuBean.gridEmptyMessage}" selectionMode="single"
                             selection="#{profilMenuBean.selectedNode}" resizableColumns="true" scrollHeight="170" scrollable="true" > 

                    <f:facet name = "header">  <p:outputLabel value="#{msg['menusNonAttribuesGrid.title']}" /> </f:facet> 
                    <p:ajax event="select" listener="#{profilMenuBean.onNodeSelect}" update="@(.pickListContainer) " />

                    <p:column headerText="#{msg['menuDesc.label']}" style="width: 100%">  
                        <h:outputText value="#{itemMenuDispoProfil.menuDesc}" />  
                    </p:column>

                    <p:column headerText="#{msg['Screen.label']}" style="width:150px"> 
                        <h:outputText value="#{itemMenuDispoProfil.screenId.screenDesc}" />  
                    </p:column>  

                    <p:column headerText="#{msg['url.label']}" style="width:120px">
                        <h:outputText value="#{itemMenuDispoProfil.screenId.url}" />  
                    </p:column> 


                    <p:column headerText="#{msg['actif.label']}" style="width:70px">
                        <h:outputText value="#{itemMenuDispoProfil.actif ? msg['label.oui'] : msg['label.non']}" />  
                    </p:column>
                </p:treeTable> 
            </p:fieldset>

            <p:fieldset id="fieldsDroitProfil" legend="#{msg['habilitations.label']}"  styleClass="formFieldset pickListContainer sipe-fs fs-moitie moitie-right" style="width: 39%; height: 288px;">
                <p:pickList id="pickListDroitProfil" effect="fade" value="#{profilMenuBean.dualListModel}" var="action" itemLabel="#{action.actionNom}"
                            itemValue="#{action}" converter="actionConv" disabled="#{profilMenuBean.disablePickList}" valueChangeListener="#{profilMenuBean.onTransfert()}">
                    <f:facet name="sourceCaption">#{msg['actionsDispo.label']}</f:facet>
                    <f:facet name="targetCaption">#{msg['actionsAttribuees.label']}</f:facet>
                </p:pickList>
            </p:fieldset>

            <div style="clear: both;"></div>
            <p:messages showDetail="true" />
            <div style="clear: both;"></div>

            <div   class="action-bar action-bar-double" >

                <ul class='rtl'>
                    <li><p:commandButton id="btnEnregProfilMenu" value="#{msg['btn.value.enregistrer']}" icon="ui-icon-disk" actionListener="#{profilMenuBean.enregistrer()}" update="@(.fieldsProfilMenu)" >
                            <f:param name="validate" value="true" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.supprimer']}"  id="btnSupprProfilMenu" action="#{profilMenuBean.confirmerSuppression()}" disabled="#{!profilMenuBean.editMode}" icon="ui-icon-trash" >
                            <f:param name="validate" value="false" />
                        </p:commandButton></li>
                    <li><p:commandButton value="#{msg['btn.value.effacer']}" icon="ui-icon-scissors" actionListener="#{profilMenuBean.effacerTout()}"  update="@(.fieldsProfilMenu)" >
                            <f:param name="validate" value="false" />
                        </p:commandButton></li>
                    <li>
                        <p:commandButton id="btnRechProfilMenu" value="#{msg['btn.value.rechercher']}" actionListener="#{profilMenuBean.rechercher()}" icon="ui-icon-search" update="@(.fieldsProfilMenu)"  >
                            <f:param name="validate" value="false" />
                        </p:commandButton>
                    </li>
                </ul>
            </div>
        </div>

        <p:contextMenu for="gridProfilMenu">  
            <p:menuitem value="#{msg['menuitem.value.gererHabilitations']}" actionListener="#{profilMenuBean.showDlgEditDroitProfil()}" update="@(.panelDroitProfil)" icon="ui-icon-pencil"/>  
        </p:contextMenu>

        <p:dataTable id="gridProfilMenu" value="#{profilMenuBean.dataList}" var="itemProfilMenu" emptyMessage="#{profilMenuBean.gridEmptyMessage}" paginator="true" rows="10" selectionMode="single"
                     selection="#{profilMenuBean.selectedObject}" rowKey="#{itemProfilMenu.profilMenuPK}"
                     filteredValue="#{profilMenuBean.filteredList}" resizableColumns="true"  paginatorPosition="top" rowIndexVar="rowIndex"  
                     rowStyleClass="#{(rowIndex mod 2) eq 0 ? 'first-row' : 'second-row'}"  sortBy="#{itemProfilMenu.profil.profilDesc}" >
            <f:facet name = "header">  <p:outputLabel value="#{msg['profilMenuGrid.title']}" /> </f:facet>
            <p:ajax event="rowSelect" listener="#{profilMenuBean.rowSelect}"  update="@(.fieldsProfilMenu)"  />

            <p:column headerText="#{msg['Profil.label']}" filterBy="#{itemProfilMenu.profil.profilDesc}" sortBy="#{itemProfilMenu.profil.profilDesc}" style="width: 200px;" > 
                <h:outputText value="#{itemProfilMenu.profil.profilDesc}" /> 
            </p:column>
            <p:column headerText="#{msg['Menu.label']}" filterBy="#{itemProfilMenu.menu.menuDesc}"  sortBy="#{itemProfilMenu.menu.menuDesc}" style="width: 100%;" > 
                <h:outputText value="#{itemProfilMenu.menu.menuDesc}" /> 
            </p:column>


            <p:column headerText="#{msg['Screen.label']}" filterBy="#{itemProfilMenu.menu.screenId.screenDesc}"  sortBy="#{itemProfilMenu.menu.screenId.screenDesc}" style="width: 200px;" > 
                <h:outputText value="#{itemProfilMenu.menu.screenId.screenDesc}" /> 
            </p:column>

            <p:column headerText="#{msg['habilitations.label']}" style="width: 300px;"> 
                <h:outputText value="#{profilMenuBean.listActionsAsString(itemProfilMenu)}" /> 
            </p:column>

            <p:column headerText="#{msg['actif.label']}" sortBy="#{itemProfilMenu.actif}" style="width: 100px;" > 
                <h:outputText value="#{itemProfilMenu.actif ? msg['label.oui'] : msg['label.non']}" /> 
            </p:column>

            <f:facet name = "footer"> 
                <p:commandButton value="#{msg['btn.value.exporter']}" onclick="PF('gridExporterProfilMenu').show();" />
            </f:facet>
        </p:dataTable>

    </p:fieldset>

    <p:blockUI block="fieldsProfilMenu" widgetVar="blockUIProfilMenu" trigger=":viewForm:tabView:btnEnregProfilMenu, :viewForm:tabView:btnRechProfilMenu">  
        #{msg['msg.chargementEnCours']}<br />  
        <p:graphicImage value="/img/dots32.gif"/>  
    </p:blockUI>

</ui:composition>